<h2> Edit Profile: </h2>
<div>
<form method="post" action="/profiles/<%= @profile.id %>">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <p>Full-name: <input type="text" name="full_name" value="<%= @profile.full_name %>" required></p>
  <p>Age: <input type="text" name="age" value="<%= @profile.age %>" required></p>
  <p>Gender: <input type="text" name="gender" value="<%= @profile.gender %>" required></p>
  <p>Address: <input type="text" name="address" value="<%= @profile.address %>" required></p>
  <input class="btn btn-primary" type="submit" value="submit">
</form>
</div>
<br />
<a href="/"> Go Back to Homepage </a>

<br />
<p>Logged in as: <%=current_user.username %></p>
