
<p> Welcome, <%=current_user.username %>!
<h2> Profile </h2>

<p>Full-name: <%= @profile.full_name %></p>
<p>Age: <%= @profile.age %></p>
<p>Gender: <%= @profile.gender %></p>
<p>Address: <%= @profile.address %></p>

<form method="post" action="/profiles/<%=@profile.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Profile">
</form>
<br />
<p>
<a href="/profiles/<%=@profile.id%>/edit">Edit Profile </a>
<br />
<a href="/"> Go Back to Homepage </a>
</p>


<br />
<p>Logged in as: <%=current_user.username %></p>
