<%= form_for @pet do |f| %>
  <p>
    <%= f.label :name %>
  <br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :age%>
  <br />
    <%= f.text_field :age %>
  </p>
  <p>
    <%= f.label :gender %>
  <br />
    <%= f.text_field :gender%>
  </p>
  <p>
    <%= f.label :breed %>
  <br />
    <%= f.text_field :breed%>
  </p>
  <p>
    <%= f.hidden_field  "user_id", value: current_user.id %>
    <%= f.submit "Submit" %>
  </p>
<% end %>

<%= render '/form_validation/errors', object: @pet %>
