<h2> Edit Pet </h2>

<form method="post" action="/pets/<%=@pet.id%>">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <p>Name: <input type="text" name="pet_name" value=<%= @pet.name %> required></p>
  <p>Age: <input type="text" name="pet_age" value=<%= @pet.age %> required></p>
  <p>Gender: <input type="text" name="pet_gender" value=<%= @pet.gender %> required></p>
  <p>Breed: <input type="text" name="pet_breed" value=<%= @pet.breed %> required></p>
  <input type="submit" value="submit">
</form>

<br />
<a href="/pets"> Go Back to Pets Page </a>
<br />
<a href="/"> Go Back to Homepage </a>

<br />
<p>Logged in as: <%=current_user.username %></p>
