<p> Welcome, <%=current_user.username %>!
<h2> Your Pets: </h2>

<% if @pets %>
  <% @pets.each do |pet| %>
    <div>
      <p>Name: <%= pet.name %></p>
      <p>Age: <%= pet.age %></p>
      <p>Gender: <%= pet.gender %></p>
      <p>Breed: <%= pet.breed %></p>
      <p>
        <form method="post" action="/pets/<%=pet.id%>/delete">
          <input id="hidden" type="hidden" name="_method" value="DELETE">
          <input type="submit" value="Delete Pet">
        </form>

        <a href="/pets/<%=pet.id%>/edit">Edit Pet </a>
      </p>
      <hr />
    </div>
  <% end %>
<%else%>
  Nothing here yet.
  <br />
  <a href="/pets/new"> Add Pet </a>
<% end %>


<br />
<a href="/"> Go Back to Homepage </a>

<br />
<p>Logged in as: <%=current_user.username %></p>
