<p>Name: <%= @pet.name %></p>
<p>Age: <%= @pet.age %></p>
<p>Gender: <%= @pet.gender %></p>
<p>Breed: <%= @pet.breed %></p>

<form method="post" action="/pets/<%=@pet.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Pet">
</form>

<br />


<p>
<a href="/pets/<%=@pet.id%>/edit">Edit Pet </a>
<br />
<a href="/pets"> Go Back to Pets Page </a>
<br />

<a href="/"> Go Back to Homepage </a>
</p>
