<!DOCTYPE html>
<html>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <title>PetVet | Client Portal</title>
      <meta name="keywords" content="" />
      <meta name="description" content="" />
      <link href="/css/templatemo_style.css" type="text/css" rel="stylesheet" />

      <link rel="icon" href="/img/favicon.ico" type="image/gif" >


      <!--
         Singular Template
         http://www.templatemo.com/preview/templatemo_359_singular
         -->
      <script type="text/javascript" src="/js/jquery.min.js"></script>
      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script type="text/javascript" src="/js/jquery.scrollTo-min.js"></script>
      <script type="text/javascript" src="/js/jquery.localscroll-min.js"></script>
      <script type="text/javascript" src="/js/init.js"></script>

      <link rel="stylesheet" href="/css/slimbox2.css" type="text/css" media="screen" />
      <script type="text/JavaScript" src="/js/slimbox2.js"></script>
      <!-- Timestamp: 1236819900 -->
   </head>
   <body>
      <div id="templatemo_header_wrapper">
         <div id="templatemo_header">
            <br />
            <br />
            <p id="intro_text">CLIENT PORTAL</p>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <% if @current_user %>
            <%if @current_user.user_details%>
            <h3> Welcome, <%= @current_user.user_details.full_name.split(' ').first.capitalize %>! </h3>
            <% else %>
            <h3> &nbsp; </h3>
            <%end%>
            <% else %>
            <h3> &nbsp; </h3>
            <%end%>
         </div>
         <div id="templatemo_main_wrapper">
            <div id="templatemo_main">
               <div id="content">
                  <% if @current_user %>
                  <div id="home" class="section">
                     <ul id="templatemo_menu">
                        <li><a href="#about" class="about"><span>Profile</span></a></li>
                        <li><a href="#book" class="services"><span>Appointments</span></a></li>
                        <li><a href="#medicines" class="portfolio"><span>Medicines</span></a></li>
                        <li><a href="#testimonial" class="testimonial"><span>Testimonial</span></a></li>
                        <li class="no_margin_right"><a href="#chat" class="contact"><span>Contact</span></a></li>
                     </ul>
                  </div>

<!-- ################################################### PROFILE ################################################### -->

                  <%if @current_user.user_details%>
                  <div class="section" id="about">
                     <div id='main'>
                        <div class="half left">
                           <div class="show-container style-1" style="width: 220px; height: 360px; overflow-y: auto; overflow-x: hidden">
                              <p class="p_prof">Client <span>profile</span></p>
                              <div class='non-form-container'>
                                <div class='imgcontainer' style=' height: 80px'>
                                   <% path = (@current_user.img != nil) ?@current_user.img : '/img/man.png' %>
                                   <button id='picBtn1000' onclick="upfrmOn(1000);" style="border-radius: 100%; background-color: transparent; width:100px; height: 100px; position: relative; top: -30px; left: 0px;  z-index: 1;" >
                                   <img src=<%=path%> alt='Avatar' title='Upload photo' class='avatar' >
                                   </button>
                                   <div id='fileUp1000'  style='background-color: rgba(248, 248, 248, 0.8); position: relative; top: -120px; display: none; z-index: 10;' >
                                      <form action="/users/<%=@current_user.id%>/upload" method="post" enctype="multipart/form-data" style='background-color:rgba(245, 245, 245, 0.3); width: 100%; '>
                                         <input type="file" name="file">
                                         <input type="submit" value="Upload image">
                                         <input type="hidden" name="userid" value=<%=@current_user.id%>>
                                      </form>
                                   </div>
                                  </div>
                                  <table style="width: 260px; position: relative; left: -20px;">
                                    <tr>
                                      <td>Name:</td>
                                      <td class="style-1" style="max-height: 40px;"><%=@current_user.user_details.full_name%></td>
                                    </tr>
                                    <tr>
                                      <td>DOB:</td>
                                      <td><%=@current_user.user_details.dob%></td>
                                    </tr>
                                    <tr>
                                      <td>Gender:</td>
                                      <td><%=@current_user.user_details.gender%></td>
                                    </tr>
                                    <tr>
                                      <td>Address:</td>
                                      <td  class="style-1" style="max-height: 40px;"><%=@current_user.user_details.address%></td>
                                    </tr>
                                    <tr>
                                      <td>Phone:</td>
                                      <td><%=@current_user.user_details.phone_number%></td>
                                    </tr>
                                  </table>
                              </div>
                           </div>
                        </div>
                        <div class="half right">
                           <div class="show-container" class="entry" style=" z-index: 1; overflow: hidden; width: 230px; height: 360px; margin-right: 60px; position: relative; left: -85px;">
                              <p class="p_prof">Pet <span>profile</span></p>
                              <div class="scrollbar style-1" style="overflow-x: hidden; overflow-y: auto; height: 340px; width: 100%; position:relative; top: -40px; left: 0px;">
                                 <div id='pet-card' class="force-overflow" >
                                    <% @current_user.pets.each_with_index do |p,i| %>
                                    <div class='imgcontainer' style=' height: 80px'>
                                       <% path = (p.img != nil) ? p.img : '/img/default.jpg' %>
                                       <button id='picBtn<%=i%>' onclick="upfrmOn(<%=i%>);" style="border-radius: 100%; background-color: transparent; width:100px; height: 100px; position: relative; top: -30px; left: 0px;  z-index: 1;" >
                                       <img src=<%=path%> alt='Avatar' title='Upload photo' class='avatar' >
                                       </button>
                                       <div id='fileUp<%=i%>'  style='background-color: rgba(248, 248, 248, 0.5); position: relative; top: -120px; display: none; z-index: 10;' >
                                          <form action="/users/<%=@current_user.id%>/upload" method="post" enctype="multipart/form-data" style='background-color:rgba(245, 245, 245, 0.3); width: 100%; '>
                                             <input type="file" name="file">
                                             <input type="submit" value="Upload image">
                                             <input type="hidden" name="petid" value=<%=p.id%>>
                                          </form>
                                       </div>
                                    </div>
                                    <hr>
                                    <form action='/users/<%=@current_user.id%>/form' method='post' id='petInf<%=i%>' style='width: 220px; height: 200px; background-color: #f0f0f2;'>
                                       <fieldset id='fld<%=i%>' disabled  style='width: 197px; height: 185px;' >
                                          <label class='pet_name' for='pet_name'><b>Name:</b></label>
                                          <input class='pet_name' type='text' value=<%=p.name%> name='pet_name' required>
                                          <br />
                                          <label class='pet_age' for='pet_age'><b>Age:</b></label>
                                          <input class='pet_age' type='text' value=<%=p.age%> name='pet_age' required>
                                          <br />
                                          <hr>
                                          <label class='gender' for='gender'><b>Gender:</b></label>
                                          <select name='pet_gender' id='gender' required>
                                             <% bool_one = (p.gender == 'Male') ? 'selected' : '' %>
                                             <% bool_two = (p.gender == 'Female') ? 'selected' : '' %>
                                             <option value='Male' <%= bool_one %>>Male</option>
                                             <option value='Female' <%= bool_two %>>Female</option>
                                          </select>
                                          <br>
                                          <label class='address' for='address'><b>Breed:</b></label>
                                          <input type='text' class='address' value=<%=p.breed%> name='breed' required>
                                          <input type="hidden" name="cmd<%=i%>" value='update<%=i%>'>
                                          <input type="hidden" name="petid<%=i%>" value=<%=p.id%>>
                                          <button id='sndBtn<%=i%>' type='submit' style='visibility: hidden; position:relative; top: -5px; left: 105px;  width: 60px; height: 30px;'>Submit</button>
                                       </fieldset>
                                    </form>
                                    <% if @current_user.pets.size > 1 %>
                                    <form action='/users/<%=@current_user.id%>/delpet' method='post' style="background: transparent !important; width: 1px; height: 1px; position: relative; top: -65px; left: 187px; " >
                                       <input type="hidden" name="petid" value=<%=p.id%>>
                                       <button type="submit" id='delBtn<%=i%>' style=" border-radius: 100%; background-color: Transparent; width:30px; height: 30px; position: relative; top: 20px; left: 0px;" >
                                       <img src="/img/x.png" width="20" height="20" title="Delete" alt="Delete" style="border-radius: 100%; position: relative; top: 0px; left: -3px;" >
                                       </button>
                                    </form>
                                    <%end%>
                                    <button type="button" id='editBtn<%=i%>' name="button" onclick='frmOn(<%=i%>);' style='position:relative; top: -47px; left: 20px; width: 55px; height: 30px;' >Edit</button>
                                    <%end%>
                                    <hr>
                                 </div>
                              </div>
                           </div>
                           <!-- End of show-container -->
                        </div>
                        <!-- End of half right -->
                     </div>
                     <div>
                        <a href="#home" class="home_btn">home</a>
                        <% idx = @current_user.pets.size %>
                        <button id='addPetBtn' onclick="dispAddPet();" style="float: right; border-radius: 100%; background-color: transparent; width:40px; height: 40px; position: relative; top: -28px; left: 100px;  z-index: 1;" >
                        <img src="/img/menu.png" width="32" height="32" title="Add another pet" alt="Add New Pet" style="border-radius: 100%; position: relative; top: 1px; left: -4px;">
                        </button>
                        <a href="#home" class="page_nav_btn previous">Previous</a>
                        <a href="#book" class="page_nav_btn next">Next</a>
                     </div>
                     <div id='addPet' align="center" style=" display: none; width: 780px; height: 460px; background: rgba(255, 255, 255, 0.8); z-index: 1; position: relative; top: -25px; ">
                        <form class="entry" action='/users/<%=@current_user.id%>/form' method='post' class='details' style='position: relative; top: 100px; height: 300px; left: 0px; border-radius: 5px;'>
                           <div id='frm' style='  position: relative; top: -80px; left: 0px;'>
                              <%= pet_info_form %>
                              <br />
                              <br />
                              <div id='btnDiv' style="text-align: center;  position: relative; top: -450px; left: 60px; ">
                                 <button type='submit'>Add</button>
                              </div>
                           </div>
                           <input type="hidden" name="cmd" value='add_pet'>
                        </form>
                        <button id='cancBtn' onclick="hideAddPet();" style="position: relative; top: -40px; left: 60px; z-index: 11;">Cancel</button>
                     </div>
                  </div>  <!-- End of about  -->

<!-- ################################################### END OF PROFILE ################################################### -->

<!-- ################################################### USER/PET DETAILS ################################################### -->
                  <% else %>
                  <div align="center" id="home" class="section">
                     <ul id="templatemo_menu">
                        <li><a href="#about" class="about"><span>Profile</span></a></li>
                        <li><a href="#book" class="services"><span>Appointments</span></a></li>
                        <li><a href="#medicines" class="portfolio"><span>Medicines</span></a></li>
                        <li><a href="#testimonial" class="testimonial"><span>Testimonial</span></a></li>
                        <li class="no_margin_right"><a href="#chat" class="contact"><span>Contact</span></a></li>
                     </ul>
                  </div>
                  <div  align="center" class="show-container" style=" width: 800px; height: 100%; background: rgba(76, 175, 80, 0.1); position:relative; top: -207px; left: -380px; ">
                     <form action='/users/<%=@current_user.id%>/form' method='post' class='details'>
                        <div style='height: 440px; text-align: center; position: relative; top: -240px;'>
                           <%= add_user_detail_form %>
                           <%= pet_info_form %>
                           <div id="petFrmBtn" style='position: relative; top: 100px;' >
                           	<button id='prvBtn' onclick="dispUsrfrm(); " >Previous</button>
                           <button type='submit' >Submit</button>
                           </div>
                        </div>
                     </form>
                  </div>
                  <div id="templatemo_footer_wrapper">
                     <div id="templatemo_footer">
                        <p>Copyright © 2020 PetVet | Designed & developed by AtlasGeek7
                           <a class='nav-link' href='/logout' id='log-out-button'>	<button style="float: right; border-radius: 100%; background-color: transparent; width:40px; height: 40px; position: relative; top: -28px; left: 100px;" >
                           <img src="/img/logout.png" width="40" height="40" title="Log out" alt="Add New Pet" style="border-radius: 100%; position: relative; top: -3px; left: -8px;">
                           </button>
                           </a>
                        </p>
                     </div>
                  </div>
                  <%end%>
<!-- ################################################### END OF USER/PET DETAILS ################################################### -->

<!-- ################################################### BOOK ################################################### -->

                  <div class="section" id="book">
                     <div class="half left">
                        <%if !@current_user.appointments.first %>
                        <div align='center' class="show-container" >
                          <form action='/appointment/book' method='post' id='appointment'>
                          <p id="p_prof">APPOINTMENT <span>FORM</span></p>
                              <div class='imgcontainer' style="position: relative; top: -20px;">
                                  <img src='/img/clock.png' alt='Avatar' class='avatar'>
                              </div>

                              <div class='container' style="position: relative; top: -40px;">
                                  <label for='doctor'><b>Doctor:</b></label>
                                  <br />
                                  <select name='doctor' form='appointment' id='doctor'>
                                      <option value="default" selected>Select doctor</option>
                                      <% Employee.all.each do |e| %>                             <!-- REFACTOR to @employee.all.each -->
                                      <option value='<%=e.id%>'><%=e.name%></option>
                                      <%end%>
                                  </select>
                                  <br />
                                  <label for='doctor'><b>Pet:</b></label>
                                  <br />
                                  <select name='pet_name' form='appointment' id='doctor'>
                                      <option value="default" selected>Select your pet</option>
                                      <% @current_user.pets.all.each do |p| %>                             <!-- REFACTOR to @employee.all.each -->
                                      <option value='<%=p.name%>'><%=p.name%></option>
                                      <%end%>
                                  </select>
                                  <br />
                                  <label for='doctor'><b>Reason:</b></label>
                                  <br />
                                  <select name='reason' form='appointment' id='doctor'>
                                      <option value="default" selected>&nbsp;</option>
                                      <option value='consultation'>Consultation</option>
                                      <option value="surgery">Surgery</option>
                                      <option value='follow up'>Follow up</option>
                                      <option value='Lab work'>Lab work</option>
                                  </select>
                                  <br />
                                  <label class='date' for='date'><b>Date:</b></label>
                                  <select name='date' form='appointment' id='doctor'>
                                     <option value='04/04/2020 | 03:30pm'>04/04/2020 | 03:30pm</option>
                                     <option value="04/07/2020 | 10:30am">04/07/2020 | 10:30am</option>
                                     <option value='04/07/2020 | 01:00pm'>04/07/2020 | 01:00pm</option>
                                     <option value='04/10/2020 | 02:30pm'>04/10/2020 | 02:30pm</option>
                                     <option value='05/03/2020 | 01:00pm'>05/03/2020 | 01:00pm</option>
                                     <option value="05/13/2020 | 10:15am">05/13/2020 | 10:15am</option>
                                     <option value='05/17/2020 | 02:00pm'>04/07/2020 | 02:00pm</option>
                                     <option value='05/20/2020 | 02:30pm'>05/20/2020 | 02:30pm</option>
                                  </select>
                                  <br />

                                  <label for='address'><b>Comments:</b></label>
                                  <hr />
                                  <textarea  placeholder='Enter a detailed description' name='symptoms' required></textarea>
                                  <br />
                                  <label for='full-name'><b>Confirmation:</b></label>
                                  <input type='text' name='full_name' id="full-name" placeholder="Enter your full name" required>
                                  <button type='submit' style="position: relative; top: -40px; left: 130px; height: 35px; background-color: rgb(252,252,252);">Schedule</button>

                              </div>
                          </form>

                        </div>
                        <%end%>
                     </div>
                     <div class="half right">
                        <%if @current_user.appointments.first%>
                        <div class="show-container style-1" style="overflow-x: hidden; overflow-y: auto; width: 260px; height: 360px; margin-right: 60px; position: relative; left: -110px;">
                           <section id="upcoming" >

                              <div class='imgcontainer'>
                                 <img src='/img/doc-apt.webp' alt='Avatar' class='avatar' style="position: relative; top: -30px;">
                              </div>
                              <h6 style="position: relative; top: -140px; left: 75px; background: rgba(0, 0, 0, 0.6); width: 100px; border-radius: 10px; border-style: dotted dashed solid double; color: white;">
                              &nbsp; APPOINTMENT
                              </h6>
                              <div class="style-1" style="overflow-y: auto; max-height: 400px; position: relative; top: -80px;">
                                 <% @current_user.appointments.each do |a| %>
                                 <hr>
                                 <p class="detail_title">Doctor:</p>
                                 <p><%=@doctor.name%></p>
                                 <p class="detail_title">Date:</p>
                                 <p><%=a.apt_date%></p>
                                 <p class="detail_title">Comments:</p>
                                 <p><%=a.symptoms%></p>
                                 <p class="detail_title">Reason:</p>
                                 <p><%=a.reason%></p>
                                 <p class="detail_title">Status:</p>
                                 <p><%=a.status%></p>
                                 <%end%>
                              </div>
                           </section>
                        </div>
                        <%end%>
                     </div>
                     <a href="#home" class="home_btn">home</a>
                     <a href="#about" class="page_nav_btn previous">Previous</a>
                     <a href="#medicines" class="page_nav_btn next">Next</a>
                  </div>
<!-- ################################################### MEDS ################################################### -->

                  <div class="section" id="medicines">
                     <div align='center'>
                        <div class="show-container style-1" style="text-align: center; overflow-x: hidden; overflow-y: auto; width: 55%; height: 360px; position: relative; left: -20px;">
                           <section id="rx" class="entry2">
                              <p class="p_prof">Current <span>medications</span></p>
                              <div class='imgcontainer'>
                                 <img src='/img/dog.png' alt='Avatar' class='avatar'>
                              </div>
                              <div align='center'>
                                 <div class="style-1" style="overflow-y: auto; max-height: 340px; width: 60%; text-align: left;">
                                    <% if @medicine %>
                                    <% @medicine.each do |x| %>
                                    <hr>
                                    <p>Rx: <span><%= x.rx_name %></span> </p>
                                    <p>	Prescription dosage: <span><%= x.pill_count %></span> x <span><%= x.pill_size %> mg </span></p>
                                    <p>	Prescribed for: <%= Pet.find_by(id: x.pet_id).name %>. </p>
                                    <p class="by_doctor"> By: Dr. <%= Employee.find_by(id: x.employee_id).name %> . </p>
                                    <hr>
                                    <% end %>
                                    <% else %>
                                    <p>Nothing here yet...</p>
                                    <% end %>
                                 </div>
                              </div>
                           </section>
                        </div>
                     </div>
                     <a href="#home" class="home_btn">home</a>
                     <a href="#book" class="page_nav_btn previous">Previous</a>
                     <a href="#testimonial" class="page_nav_btn next">Next</a>
                  </div>
<!-- ################################################### REVIEW ################################################### -->

                  <div class="section" id="testimonial">

                     <div align='center'>

                        <% @review = Review.all.find_by(user_id: @current_user.id) %>
                        <% if @review %>
                        <div class="review">
                          <div class="imgcontainer" style="position: relative; top: -40px;">
                            <img src="/img/reviews.png" alt="Avatar" class="avatar">
                          </div>
                          <h4 style="position: relative; top: -120px; background: rgba(0, 0, 0, 0.6); width: 120px; border-radius: 10px; border-style: dotted dashed solid double; color: white;">
                          YOUR REVIEW
                          </h4>
                          <div class="style-1" style="overflow-y: auto; overflow-x: hidden; max-height: 300px; position: relative; top: -60px;">
                           <h4><%= @review.title%><img id="star_<%= @review.rating %>" src="/img/transp.png" width="1" height="1" style="float: right;"></h4>
                           <hr>
                           <p><%= @review.content%></p>
                           <hr>
                           <p style="float: right;">	Posted: <span><%= @review.date%></span> | By: <%= "#{@current_user.user_details.full_name.split(' ').first.capitalize}."  %> </p>
                        </div>
                        </div>
                        <button onclick="cancEditRev();">Cancel</button>
                        <button onclick="dispEditRev();">Edit</button>
                        <button onclick="delRev();">Delete</button>


                        <div id="editRev" align="center" style="z-index: 3; position: relative; top: 100px;">

                            <form id=revfrm" action="/review/edit" method="post" class="review"   >

                              <div class="imgcontainer" style="position: relative; top: -40px;">
                                <img src="/img/reviews.png" alt="Avatar" class="avatar">
                              </div>
                              <h4 style="position: relative; top: -120px; background: rgba(0, 0, 0, 0.6); width: 120px; border-radius: 10px; border-style: dotted dashed solid double; color: white;">
                              YOUR REVIEW
                              </h4>
                              <div class="container" style="position: relative; top: -100px;">
                              <label class="title" for="title"><b>Title:</b></label>
                              <input class="title" type="text"  name="title"  placeholder="Enter a title" value='<%= @review.title %>' required>
                              <br />
                              <label class="content" for="content"><b>&nbsp;</b></label>
                              <br />
                              <textarea class="style-1" placeholder="Share your experience here..." name="content" rows="11" cols="50"><%= @review.content %></textarea>
                              <br />
                              <label class="rating" for="rating"><b>Rate us:</b></label>
                              <select name="rating" for="review">
                                 <option value="one">1</option>
                                 <option value="two">2</option>
                                 <option value="three">3</option>
                                 <option value="four">4</option>
                                 <option value="five">5</option>
                              </select>
                              <br />
                              <label class="password" for="password"><b>Type your password:</b></label>

                              <input class="password" type="password" name="password" placeholder="Enter your current password here..." required>&nbsp;
                              <button type="submit" style="background-color: rgb(252,252,252); height: 35px; width: 65px; position: relative; top: -5px;">Confirm</button>
                              </form>
                           </div>

                        </div>

                        <% else %>
                        <div>

                        <form action="/review/new" method="post" class="review">
                            <div class="imgcontainer" style="position: relative; top: -40px;">
                              <img src="/img/reviews.png" alt="Avatar" class="avatar">
                            </div>
                            <h4 style="position: relative; top: -120px; background: rgba(0, 0, 0, 0.6); width: 120px; border-radius: 10px; border-style: dotted dashed solid double; color: white;">
                            YOUR REVIEW
                            </h4>
                            <div class="container" style="position: relative; top: -100px;">
                            <label class="title" for="title"><b>Title:</b></label>
                            <input class="title" type="text"  name="title"  placeholder="Enter a title"  required>
                            <br />
                            <label class="content" for="content"><b>&nbsp;</b></label>
                            <br />
                            <textarea class="style-1" placeholder="Share your experience here..." name="content" rows="11" cols="50"></textarea>
                            <br />
                            <label class="rating" for="rating"><b>Rate us:</b></label>
                            <select name="rating" for="review">
                               <option value="one">1</option>
                               <option value="two">2</option>
                               <option value="three">3</option>
                               <option value="four">4</option>
                               <option value="five">5</option>
                            </select>
                            <br />
                            <label class="password" for="password"><b>Type your password:</b></label>
                            <input class="password" type="password" name="password" placeholder="Enter your current password here..." required>&nbsp;
                            <button type="submit" style="background-color: rgb(252,252,252); height: 35px; width: 65px; position: relative; top: -5px;">Confirm</button>
                            </div>
                            </form>
                        </div>
                        <% end %>
                     </div>
                     <a href="#home" class="home_btn">home</a>
                     <a href="#medicines" class="page_nav_btn previous">Previous</a>
                     <a href="#chat" class="page_nav_btn next">Next</a>
                     <div id='load-page' align="center" style=" display: none; width: 780px; height: 520px; background: rgba(0, 0, 0, 0.7); z-index: 1001; position: relative; top: -950px; ">
                         <img src="/img/paw.gif" width="60" height="60" style="position: relative; top: 210px; left: 0px; ">
                     </div>
                  </div>



<!-- ################################################### CHAT ################################################### -->

                  <div class="section" id="chat">
                     <h1>Contact Information</h1>
                     <div class="half right">


                        <div align="center">
                           <form action='/users/<%=@current_user.id%>/chat' method='post' id='chat'>
                              <input type="text" id="msg" name="txtbox" maxlength="47" size="47" placeholder="Type your message here..." style="position: relative; left: -50px; border: 5px solid #ccc;">
                        <!--      <button type="submit" id="sendbtn" style="position: relative; top: -42px; left: 175px; width: 50px; height: 30px; text-align: justify;">Send</button>  -->
                           </form>

                           <button id="ajaxBtn" onclick="postMsg(); " style="position: relative; top: -42px; left: 175px; width: 50px; height: 30px; text-align: justify;"> Send </button>
                           <div id="msgbox" class="style-1">


                          <!--    <h4> Nothing here yet! </h4> -->
                          <p><span id="date"> Welcome to Live Chat! </p>

                           </div>
                           <div id="statusBox" class="style-1" style="background-color: white; width: 240px; float: right; position: relative; top: -300px; max-height: 200px; overflow-y: auto; overflow-x: hidden;">
                             <div id="innerStatusBox" class="style-1" style="display: block;">
                            <table style="width: 260px; ">
                            <% Employee.all.each_with_index do |e,i| %>
                             <tr>
                               <td> <%= "#{e.name.split(' ').first} #{e.name.split(' ').last[0].capitalize}." %> </td>
                                 <% if e.status == -1 %>
                                   <%  c = "red" %>
                                 <% elsif e.status == 0 %>
                                   <%  c = "yellow" %>
                                 <% else %>
                                   <%  c = "green" %>
                               <% end %>

                               <td style="color:<%= c %>; font-weight: bold; font-size: 22px;"> &bull; </td>
                               <% if (c == "green") %>
                                 <td> <button id="cidBtn-<%= e.id %>" onclick="chatInit(this.id);" style="width: 45px; height: 30px;">Chat</button> </td>
                               <% end %>
                             </tr>
                            <% end %>
                            </table>
                             </div>
                           </div>
                        </div>
                     </div>
                     <div class="half left">
                        <h4>PetVet</h4>
                        1611 S. Grand Blvd.<br />
                        St. Louis, Missouri, 63104<br />
                        <strong>Phone:</strong><a href="(314) 786-2710"> (314) 786-2710 </a> <br />
                        <strong>Email:</strong> <a href="mailto:info@petvet.com">info@company.com</a><br />
                        <div class="clear h20"></div>
                        <div class="img_nom img_border"><span></span>
                           <iframe width="350" height="150" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3117.3174649798543!2d-90.24175358465783!3d38.6185771796147!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87d8b48c334d2763%3A0xc287327888170015!2s1611%20S%20Grand%20Blvd%2C%20St.%20Louis%2C%20MO%2063104!5e0!3m2!1sen!2sus!4v1584860474331!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                        <small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=new+york+central+park&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=60.158465,135.263672&amp;vpsrc=6&amp;ie=UTF8&amp;hq=&amp;hnear=Central+Park,+New+York&amp;t=m&amp;ll=40.769606,-73.973372&amp;spn=0.014284,0.033023&amp;z=14" style="color:#0000FF; text-align:left">View Larger Map</a></small>
                     </div>
                     <a href="#home" class="home_btn">home</a>
                     <a href="#testimonial" class="page_nav_btn previous">Previous</a>
                     <a href="#home" class="page_nav_btn next">Next</a>
                  </div>
               </div>
            </div>
         </div>

<!-- ################################################### END OF CHAT ################################################### -->

<!-- ################################################### LOGIN/SIGNUP ################################################## -->

         <% else %>
         <div align="center" id="home" class="section">
            <ul id="templatemo_menu">
               <li><a href="#about" class="about"><span>Profile</span></a></li>
               <li><a href="#book" class="services"><span>Appointments</span></a></li>
               <li><a href="#medicines" class="portfolio"><span>Medicines</span></a></li>
               <li><a href="#testimonial" class="testimonial"><span>Testimonial</span></a></li>
               <li class="no_margin_right"><a href="#chat" class="contact"><span>Contact</span></a></li>
            </ul>
         </div>
         <div class="show-container" style="text-align: center; width: 800px; height: 100%; background: rgba(76, 175, 80, 0.1); position:relative; top: -207px; left: -380px; ">
            <div align="center" id="signInDiv" style="position: relative; top: -250px; left: 0px; z-index: 10;">
               <h2>&nbsp;</h2>
               <form id="sign_in"  action="/users/home" method="post" style="position:relative; left: 0px;">
                  <div class="imgcontainer" style="position: relative; top: -35px; left: -132px;">
                     <img src="/img/welcome.png" alt="Avatar" class="avatar">
                  </div>
                  <div class="container" style="position:relative; top: -45px;  left: 40px;">
                     <label class="e-mail" for="email"><b>E-mail: &nbsp; &nbsp; &nbsp;</b></label>
                     <input class="e-mail" type="email" placeholder="Enter E-mail.." name="email" required>
                     <br>
                     <br>
                     <label class="password" for="password"><b>Password: &nbsp;</b></label>
                     <input class="password" type="password" placeholder="Enter Password.." name="password" required>
                     <br>
                     <input type="hidden" name="cmd" value='login'>
                     <button type="submit" >Sign in</button>
                  </div>
                  <a href="javascript:void(0);" onclick="showSignUp(); return false;" id="showSignUp">Sign up?</a>
                  <p style="color: red;">  <%= locals[:error] %>  </p>
               </form>
            </div>
            <div align="center" id="signUpDiv" style="position:relative; top: -604px;  left: 0px; z-index: -1;">
               <div  style="position:relative; top: 0px;  left: 0px;">
                  <h2>&nbsp;</h2>
                  <form action="/users/home" method="post" id="sign_up">
                    <div class="imgcontainer" style="position:relative; top: -35px; left: -132px;">
                       <img src="/img/welcome.png" alt="Avatar" class="avatar">
                    </div>
                     <div>
                        <label class="e-mail" for="email"><b>E-mail: &nbsp; &nbsp; &nbsp;</b></label>
                        <input class="e-mail" type="email" placeholder="Enter your E-mail here..." name="email" required>
                        <br />
                        <br />
                        <label class="password" for="password"><b>Password: &nbsp; </b></label>
                        <input class="password" type="password" placeholder="Enter a password here..." name="password" required>
                        <br />
                        <input type="hidden" name="cmd" value='signup'>
                        <button type="submit">Sign up</button>
                        <br />
                        <a href="#"  onclick="showSignIn(); return false;" id="showSignin">Sign in?</a>
                     </div>
                     <p style="color: red;">  <%= locals[:error] %>  </p>
                  </form>

               </div>
            </div>
         </div>
      </div>
      <%end%>

<!-- ################################################### END OF LOGIN/SIGNUP ################################################### -->

<!-- ################################################### FOOTER ################################################### -->

      <div id="templatemo_footer_wrapper">
         <div id="templatemo_footer">
            <p>Copyright © 2020 PetVet | Designed & developed by AtlasGeek7
               <a class='nav-link' href='/user_logout' id='log-out-button'>	<button style="float: right; border-radius: 100%; background-color: transparent; width:40px; height: 40px; position: relative; top: -28px; left: 100px;" >
               <img src="/img/logout.png" width="40" height="40" title="Logout" alt="Add New Pet" style="border-radius: 100%; position: relative; top: -3px; left: -8px;">
               </button>
               </a>
            </p>
         </div>
      </div>
<!-- ################################################### END OF FOOTER ################################################### -->

      <!-- templatemo 359 singular -->
      <script type="text/javascript" src="/js/script.js"></script>
   </body>
</html>
