<% if @current_user %>
<hr />
<table border="1">
  <tr>
    <td>Doctor:</td>
    <td><%= @appointment.employee.name %></td>
  </tr>
  <tr>
    <td>Date:</td>
    <td><%= @appointment.apt_date %></td>
  </tr>
  <tr>
    <td>Comments:</td>
    <td>
      <div> <%= @appointment.symptoms %> </div>
    </td>
  </tr>
  <tr>
    <td>Reason:</td>
    <td><%= @appointment.reason %></td>
  </tr>
  <tr>
    <td>Status:</td>
    <td><%= @appointment.status %></td>
  </tr>
</table>
<br />
<div>

<% if @appointment.status == "confirmed" %>
  <%= form_tag appointment_path(@appointment), method: "delete" do %>
  <%= submit_tag "Cancel" %>
  <% end %>


<% end %>


</div>

<div>
<p>
<a href="/appointments"> Go Back to Appointments Page </a>
</p>

<%= render "/users/home_link" %>

</div>
<% end %>

<% if @current_employee %>
<p> Welcome, <%= @current_employee.name %>!
<h2> Your Appointment: </h2>
<% if @appointment %>
<hr />
<table border="1">
  <tr>
    <td>Client:</td>
    <td><%= @appointment.full_name %></td>
  </tr>
  <tr>
    <td>Pet:</td>
    <td><%= @appointment.pet_name %></td>
  </tr>
  <tr>
    <td>Date:</td>
    <td><%= @appointment.apt_date %></td>
  </tr>
  <tr>
    <td>Comments:</td>
    <td>
      <div> <%= @appointment.symptoms %> </div>
    </td>
  </tr>
  <tr>
    <td>Reason:</td>
    <td><%= @appointment.reason %></td>
  </tr>
  <tr>
    <td>Status:</td>
    <td><%= @appointment.status %></td>
  </tr>
</table>

<br />

<div>
<p>
<% if @appointment.status == "pending" %>
  <%= form_tag appointment_path(@appointment), method: "delete" do %>
  <%= submit_tag "Delete" %>
  <% end %>
</p>
<p>
  <%= form_for @appointment do |f| %>
    <%= f.submit "Confirm" %>
  <% end %>
<% end %>
</p>

</div>
  <hr />
  <% else %>
  <p>Nothing here yet.</p>
  <% end %>

<%= render "/employees/home_link" %>

<% end %>
